/*---------------------------*/
#root {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}
.container {
  margin-left: 20px;
}
.App {
  background-color: var(--bg-color);
}
.listeImage {
  display: flex;
}
.vignetteFilm {
  height: var(--height-vignette);
  width: var(--width-vignette);
  object-fit: cover;
}
.titre {
  color: var(--text-color);
  margin-bottom: 10px;
}
.groupeGenre {
  margin-top: 30px;
}
