/*---------------------------*/
:root {
  --text-color: white;
  --bg-color: black;
  --radius-mini: 10px;
  --radius-large: 30px;

  --rapport-taille-hauteur: calc(16 / 9);
  --height-vignette: 85px;
  --width-vignette: calc(
    var(--height-vignette) * calc(--rapport-taille-hauteur)
  );
}
/* On utilise var() pour appeler la variable 
body {
  color: var(--text-color);
}
section {
  border-radius: var(--radius-large);
} */
